<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2018. Property of Dennis Kwabena Bilson. No unauthorized duplication of this material should be made without prior permission from the developer
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="in.uncod.android.bypass">
	
	<application
		android:label="@string/app_name"
		tools:replace="android:label" />
</manifest>
